<div class="comment-container">
    <div class="comment__content">
        <span>
            {{content}}
        </span>
    </div>
    <div class="comment__author">
        <span>{{user.user_name}}, 05/07/2024</span>
    </div>
</div>