<a href="/dashboard/post/{{id}}" class="post-editor-link">
    <div class="poster-container">
        <div class="poster-header">
            <span class="poster__title">{{title}}</span>
        </div>
    </div>
</a>
