<div class="poster-container">
    <div class="poster-header">
        <span class="poster__title">{{title}}</span>
    </div>
    <div class="poster-body">
        <p>{{content}}</p>
    </div>
</div>
