<a href="/post/{{id}}" class="post-comment-link">
    <div class="poster-container">
        <div class="poster-header">
            <span class="poster__title">{{title}}</span>
            <span class="poster__author">Posted by {{user.user_name}} 05/07/2024</span>
        </div>
        <div class="poster-body">
            <p>{{content}}</p>
        </div>
    </div>
</a>