<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <header>
        <nav>
            <ul class="list">
                <li class="list-item"><a href="#" class="link">Home</a></li>
                <li class="list-item"><a href="#" class="link">Dashboard</a></li>
                <li class="list-item"><a href="#" class="link">Login</a></li>
                <li class="list-item"><a href="#" class="link">Logout</a></li>
            </ul>
        </nav>
        <div class="title-container">
            <span class="title">The Tech Blog</span>
        </div>
    </header>
    <main>
        {{{body}}}
    </main>
</body>

</html>