<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <nav>
            <ul class="list">
                <li class="list-item"><a href="/" class="link">Home</a></li>
                <li class="list-item"><a href="#" class="link">Dashboard</a></li>
                {{#unless loggedIn}}
                    <li class="list-item"><a href="/login" class="link">Login</a></li>
                {{else}}
                    <li class="list-item"><button class="btn btn--logout" id="logout-btn">Logout</button></li>
                {{/unless}}
            </ul>
        </nav>
        <div class="title-container">
            <span class="title">The Tech Blog</span>
        </div>
    </header>
    <main>
        {{{body}}}
    </main>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="/js/index.js"></script>
</body>

</html>