<section>
    <div class="poster-container" data-post-id="{{post.id}}">
        <div class="poster-header">
            <span class="poster__title">{{post.title}}</span>
            <span class="poster__author">Posted by {{post.user.user_name}} 05/07/2024</span>
        </div>
        <div class="poster-body">
            <p>{{post.content}}</p>
        </div>
    </div>
    {{#each comments as |comment|}}
    {{> comment-details}}
    {{/each}}
    <form id="comment-form">
        <div class="form-group">
            <label for="comment">Your Comment</label>
            <textarea name="commend" id="comment" class="comment-area" placeholder="Write a comment..."></textarea>
        </div>
        <button class="btn" type="submit">Submit</button>
    </form>
</section>