{{!-- <section>
    <div class="section-container">
        <div class="section-header">
            <span>Sign Up</span>
        </div>
        <div class="section-body">
            <div class="form-group">
                <label for="user-name">Username</label>
                <input type="text" id="user-name" name="user-name" class="input">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="input">
            </div>
            <button class="btn">Sign Up</button>
            <div style="margin-top: 20px;">
                <a href="/login" class="link">Log in!</a>
            </div>
        </div>
    </div>
</section> --}}
<section>
    <form id="signup-form">
        <div class="section-container">
            <div class="section-header">
                <span>Sign Up</span>
            </div>
            <div class="section-body">
                <div class="form-group">
                    <label for="user-name">Username</label>
                    <input type="text" id="usernameInput" name="user-name" class="input" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="passwordInput" name="password" class="input" autocomplete="off">
                </div>
                <button class="btn" id="login-btn" type="submit">Sign Up</button>
                <div style="margin-top: 20px;">
                    <a href="/login" class="link">Sign In!</a>
                </div>
            </div>
        </div>
    </form>
</section>